input, textarea {
  border: 1px solid #8c8c8c;
  padding: 7px 0px 7px 10px;
  color: #262626;
  letter-spacing: .1em;
}
button {
  margin-top: 1.4em;
  color: rgb(38, 38, 38);
  text-decoration: none;
  border: none;
  width: 207px;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .2em;
}
.form-box {
  /* background: rgba(0, 0, 0, .7); */
  /* padding: 1.25em 5.882352941176% 20px; */
  margin: 0 auto;
}
.content-box {
  /* width: 87%; */
  /* height: 300px; */
}
