.navBox {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  text-decoration: none;
  color: white;
}
.navStyles {
  padding-right: 6em;
  text-decoration: none;
  color: white;
}
.navStyles:hover {
  animation: glitch 0.2s infinite;
}
.user-icon {
  width: 40px;
}
