.navBox {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  text-decoration: none;
  color: white;
}
.navStyles {
  padding-right: 7em;
  text-decoration: none;
  color: white;
}
