.dash-tab {
  font-weight: 300;
  font-size: 22px;
  margin: 0 auto;
  padding: .4em;
}
.black {
  color: black;
}
.logo-styles {
  width: 515px;
  height: 70px;
  margin: 0 auto;
}
.dash-tab-1 {
  width: 500px;
  margin-top: 8px;
  background: #d7d8dc;
  color: black;
}
.dash-tab-2 {
  width: 500px;
  margin-top: 8px;
  background: #b7b8bc;
  color: black;
}
.dash-tab-3 {
  width: 500px;
  margin-top: 8px;
  background: #a7a8ac;
  color: black;
}
.dash-tab-4 {
  width: 500px;
  margin-top: 8px;
  background: #97989c;
  color: black;
}
.dash-tab:hover {
  background: white;
  opacity: 0.9;
  transition: 0.7s;
}
.user-backdrop {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 3em;
  width: 60vw;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.1)), color-stop(.5, black));
}
